<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blank</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1>Under Construction</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
        </div>
      </div>

      <!-- new todo form-->
    <form class="form-inline" id="create-project">
      <div class="form-group">
        <input type="text" name="title" class="form-control" placeholder="Title" autofocus>
      </div>
      <div class="form-group">
        <input type="text" name="githubLink" class="form-control" placeholder="githubLink">
      </div>
      <div class="form-group">
        <input type="text" name="screenShotLink" class="form-control" placeholder="screenShotLink">
      </div>
      <div class="form-group">
        <input type="text" name="description" class="form-control" placeholder="Description">
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-default" value="Add To Do">
      </div>
    </form>
    <br>

    <div id ="projectTarget">

    </div>



    </div>

  </body>
</html>
